body{
    background: linear-gradient(to right,rgb(224, 201, 201),rgb(156, 193, 223));
    text-align: center;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    letter-spacing: 10px;
    font-style: oblique;
}
label{
    margin-left: 30px;
}
.resultImg{
    background-color: white;
    border: 1px solid blue;
    width: 800px;
    height: 400px;
    margin:20px auto;
    text-align: center;
}